{% extends "layout.jinja" %}



{% block widget_area %}
{% block widget_about %}
<section class="widget">
    <h2 class="widget-title">About website</h2>
    <p>This is the test web site form makehtml.py generator</p>
</section>
{% endblock %}
{% endblock %}