{% import "macro.jinja" as macro %}

/**
 * primary area box style
 */
{{ macro.box('primary') }}

/**
 * secondary area box style
 */
{{ macro.box('secondary') }}

/**
 * widget area box style
 */
{{ macro.box('widget') }}

/**
 * container area box style
 */
{{ macro.box('container') }}

/**
 * article area box style
 */
{{ macro.box('post') }}

/**
 * post-list box style
 */
{{ macro.box('post-list') }}

/**
 * post-grid box style
 */
{{ macro.box('post-grid') }}

